body{
    background-color: white;
    margin: 0%;
    padding: 0%;
    
}

ul{
   list-style: none;
}
li{
    list-style: none;
}
.body-menu{
    background-color: rgba(219, 166, 19);
}
a{
    text-decoration: none;
}


@media only screen and (max-width: 700px){
.title{
   color: white; 
   font-size: 25px;
   text-align: center;
   margin-top: 0%;
   padding: 15px;
   font-family: 'Oswald', sans-serif;

}
.topo{
    height: 250px;
   border-radius: 0px 0px 30px 30px ;
   background-image: linear-gradient(to bottom right, rgb(255, 230, 0), rgb(36, 134, 6));
}
.corpo{
    height: 320px;
    width: 300px;
    background-color: white;
    justify-content: center;
    border-radius: 7px;
    margin: auto;
    margin-top: -150px;
    box-shadow: 5px 5px rgba(49, 49, 49, 0.568);
    
}
.img-log{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    justify-content: center;
    margin-top:-50px;
    margin-left: 0px;
    position: absolute;
}
.texto-menu{
    margin: auto;
    margin-top: 90px;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 13px;
    
}

.menu{
    height: 70px;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
    margin-top: 150px;
    border-top: 5px solid rgba(95, 95, 95, 0.308);
    border-radius: 30px 30px 0px 0px ;
    justify-content: space-around ;
    display: flex;
    padding: 10px;
    text-align: center;
}
.logo-menu{
    height: 40px;
    width: 40px;
    background-color: rgba(219, 166, 19, 0.493);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    
}
.logo-menu:hover{
    height: 40px;
    width: 40px;
    background-image: linear-gradient(to bottom right, rgb(255, 230, 0), rgb(36, 134, 6));
}
.lista-pilse{
    height: 550px;
    width: 370px;
    background-color: white;
    justify-content: center;
    border-radius: 7px;
    margin: auto;
    margin-top: -150px;
    box-shadow: 5px 5px rgba(49, 49, 49, 0.568);
    overflow-y: scroll;
    
}
.lista-pilse::-webkit-scrollbar{
    width: 12px;
    border: 1px solid rgba(255, 255, 255, 0.568);
    border-radius: 10px;
   
}
.lista-pilse::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to bottom right, rgb(209, 209, 209), rgb(255, 255, 255));
    border-radius: 5px;
    
}

.img-volta{
    width: 40px;
    height: 40px;
    margin: 10px;

    
}
.item-list{
    color: black;
    background-color: rgb(238, 238, 238);
    width: 300px;
    height: 30px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(49, 49, 49, 0.568);
    margin: 5px;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}
.lista{
    padding: 10px;
}
.menu-menu{
    padding: 20px;
    margin-top: 50px;
    
}
.menu-item{
    padding: 15px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    color: white;
}
.modalCamp{
    position: fixed;
    width: 100% !important;
    height: 180vw !important;
    align-items: center;
  background-color: rgb(46, 46, 46, 0.87);
    --opacity: 0;
    --pointer: none;
    opacity: var(--opacity);
   pointer-events: var(--pointer);
   transition: opacity 0.5s;
}

.modalCamp:target{
    --opacity: 1;
    --pointer: unset;
   
   
    
}
.modal-conteiner{
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(192, 192, 192));
    width: 300px;
    height: 350px;
    padding: 15px;
    border-radius: 3px;
    border-top: 5px solid rgb(241, 241, 91);
    justify-content: center;
    margin: auto;
    box-shadow: 5px 5px rgba(49, 49, 49, 0.568);
    margin-top: 60px;
    font-family: 'Oswald', sans-serif;
    
}
.modalCamp:target .modal-conteiner{
    animation: show 1s;
}
@keyframes show {
    0%{
        transform: translateY(-150vh);
    }
    100%{
        transform: translateY(0);
    }
}

.listModal{
    background-image: linear-gradient(to bottom right, rgb(105, 105, 105), rgb(65, 64, 64));
   padding: 7px;
   margin: 4px;
   color: white;
   border-radius: 5px;
   border-left: 5px solid rgb(241, 241, 91);
}
.modal-menu-cont{
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(192, 192, 192));
    width: 300px;
    height: 400px;
    padding: 15px;
    border-radius: 3px;
    border-top: 5px solid rgb(241, 241, 91);
    justify-content: center;
    margin: auto;
    box-shadow: 5px 5px rgba(49, 49, 49, 0.568);
    margin-top: 25px;
    font-family: 'Oswald', sans-serif;

}
.text-menu{
    color: black;
    font-family: 'Oswald', sans-serif;
    margin-top: -4px;
  margin-left:  10px;

}

}
